In [1]:
import numpy as np

In [2]:
import pandas as pd

In [10]:
sales=pd.read_csv(r'C:\Users\kramo\Downloads\Practice sales dataset.csv')

In [11]:
sales

,Unnamed: 0,customer_id,date,product,geolocation,revenue,sales,discount,tax,cost_of_goods
0,0,1,2020-10-17,Shirt,Los Anges,1290,16,0.070051,0.060433,516.00
1,1,2,2022-02-09,Bag,Montreal,4453,12,0.396331,0.087020,1781.20
2,2,3,2021-05-28,Compter,Los Anges,3933,87,0.354361,0.002370,2949.75
3,3,4,2020-12-18,Shirt,Seattle,6160,19,0.060434,0.068478,2464.00
4,4,5,2022-09-16,Dress,Seattle,7513,89,0.090327,0.013464,3756.50
...,...,...,...,...,...,...,...,...,...,...
995,995,996,2022-06-12,Hat,Los Anges,9857,4,0.009385,0.050736,2464.25
996,996,997,2022-08-20,Pants,New York,9121,6,0.190660,0.011654,3192.35
997,997,998,2021-03-09,Shoes,Los Anges,9321,99,0.299502,0.080569,5592.60
998,998,999,2021-06-13,Compter,Seattle,6379,98,0.180285,0.088348,4784.25
999,999,1000,2022-01-01,Compter,Dallas,9386,21,0.068297,0.061598,7039.50

#### Data Assessment

In [ ]:
#Checking for null values

In [12]:
sales.isnull().sum() #product'geolocation and sales

Unnamed: 0        0
customer_id       0
date              0
product          20
geolocation       6
revenue           0
sales            50
discount          0
tax               0
cost_of_goods     0
dtype: int64

In [13]:
sales.fillna('unknown',inplace=True)

In [14]:
sales.isnull().sum()

Unnamed: 0       0
customer_id      0
date             0
product          0
geolocation      0
revenue          0
sales            0
discount         0
tax              0
cost_of_goods    0
dtype: int64

In [ ]:
#checking for duplicates

In [15]:
sales.duplicated().sum()

0

In [ ]:
#checking for incorrect data types

In [18]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1000 non-null   int64
 1   customer_id    1000 non-null   int64
 2   date           1000 non-null   object
 3   product        1000 non-null   object
 4   geolocation    1000 non-null   object
 5   revenue        1000 non-null   int64
 6   sales          1000 non-null   object
 7   discount       1000 non-null   float64
 8   tax            1000 non-null   float64
 9   cost_of_goods  1000 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.3+ KB

In [ ]:
#incorrect datatypes colums:Date and sales columns

In [35]:
sales['sales'].str.contains('\D')

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\kramo\AppData\Local\Temp\ipykernel_11156\3027818675.py:1: SyntaxWarning: invalid escape sequence '\D'
  sales['sales'].str.contains('\D')

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: sales, Length: 1000, dtype: bool

In [61]:
sales['sales'].str.contains('\D').sum()

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\kramo\AppData\Local\Temp\ipykernel_11156\273628790.py:1: SyntaxWarning: invalid escape sequence '\D'
  sales['sales'].str.contains('\D').sum()
C:\Users\kramo\AppData\Local\Temp\ipykernel_11156\273628790.py:1: SyntaxWarning: invalid escape sequence '\D'
  sales['sales'].str.contains('\D').sum()

AttributeError: Can only use .str accessor with string values!

In [65]:
pd.to_numeric(sales['sales'],errors='coerce')

0      50.2
1      50.2
2      50.2
3      50.2
4      50.2
       ...
995    50.2
996    50.2
997    50.2
998    50.2
999    50.2
Name: sales, Length: 1000, dtype: float64

In [42]:
sales['sales']=pd.to_numeric(sales['sales'],errors='coerce')

In [47]:
sales['sales'].mean().round(1)

50.2

In [62]:
sales['sales'].mean()

50.20000000000001

In [48]:
sales['sales'].fillna(sales['sales'].mean().round(1),inplace=True)

C:\Users\kramo\AppData\Local\Temp\ipykernel_11156\2258710611.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sales['sales'].fillna(sales['sales'].mean().round(1),inplace=True)

In [49]:
sales['sales'].dtype

dtype('float64')

In [58]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     1000 non-null   int64
 1   customer_id    1000 non-null   int64
 2   date           1000 non-null   datetime64[ns]
 3   product        1000 non-null   object
 4   geolocation    1000 non-null   object
 5   revenue        1000 non-null   int64
 6   sales          1000 non-null   float64
 7   discount       1000 non-null   float64
 8   tax            1000 non-null   float64
 9   cost_of_goods  1000 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(2)
memory usage: 78.3+ KB

In [59]:
sales

,Unnamed: 0,customer_id,date,product,geolocation,revenue,sales,discount,tax,cost_of_goods
0,0,1,2020-10-17,Shirt,Los Anges,1290,50.2,0.070051,0.060433,516.00
1,1,2,2022-02-09,Bag,Montreal,4453,50.2,0.396331,0.087020,1781.20
2,2,3,2021-05-28,Compter,Los Anges,3933,50.2,0.354361,0.002370,2949.75
3,3,4,2020-12-18,Shirt,Seattle,6160,50.2,0.060434,0.068478,2464.00
4,4,5,2022-09-16,Dress,Seattle,7513,50.2,0.090327,0.013464,3756.50
...,...,...,...,...,...,...,...,...,...,...
995,995,996,2022-06-12,Hat,Los Anges,9857,50.2,0.009385,0.050736,2464.25
996,996,997,2022-08-20,Pants,New York,9121,50.2,0.190660,0.011654,3192.35
997,997,998,2021-03-09,Shoes,Los Anges,9321,50.2,0.299502,0.080569,5592.60
998,998,999,2021-06-13,Compter,Seattle,6379,50.2,0.180285,0.088348,4784.25
999,999,1000,2022-01-01,Compter,Dallas,9386,50.2,0.068297,0.061598,7039.50

In [60]:
sales.head()

,Unnamed: 0,customer_id,date,product,geolocation,revenue,sales,discount,tax,cost_of_goods
0,0,1,2020-10-17,Shirt,Los Anges,1290,50.2,0.070051,0.060433,516.00
1,1,2,2022-02-09,Bag,Montreal,4453,50.2,0.396331,0.087020,1781.20
2,2,3,2021-05-28,Compter,Los Anges,3933,50.2,0.354361,0.002370,2949.75
3,3,4,2020-12-18,Shirt,Seattle,6160,50.2,0.060434,0.068478,2464.00
4,4,5,2022-09-16,Dress,Seattle,7513,50.2,0.090327,0.013464,3756.50

In [63]:
sales

,Unnamed: 0,customer_id,date,product,geolocation,revenue,sales,discount,tax,cost_of_goods
0,0,1,2020-10-17,Shirt,Los Anges,1290,50.2,0.070051,0.060433,516.00
1,1,2,2022-02-09,Bag,Montreal,4453,50.2,0.396331,0.087020,1781.20
2,2,3,2021-05-28,Compter,Los Anges,3933,50.2,0.354361,0.002370,2949.75
3,3,4,2020-12-18,Shirt,Seattle,6160,50.2,0.060434,0.068478,2464.00
4,4,5,2022-09-16,Dress,Seattle,7513,50.2,0.090327,0.013464,3756.50
...,...,...,...,...,...,...,...,...,...,...
995,995,996,2022-06-12,Hat,Los Anges,9857,50.2,0.009385,0.050736,2464.25
996,996,997,2022-08-20,Pants,New York,9121,50.2,0.190660,0.011654,3192.35
997,997,998,2021-03-09,Shoes,Los Anges,9321,50.2,0.299502,0.080569,5592.60
998,998,999,2021-06-13,Compter,Seattle,6379,50.2,0.180285,0.088348,4784.25
999,999,1000,2022-01-01,Compter,Dallas,9386,50.2,0.068297,0.061598,7039.50